<div>
    <a href="https://www.linkedin.com/in/laureanochava/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
    <a href="https://github.com/laureanochava"><img src="../../../assets/github.png" id="github"></a>
    <a href="https://twitter.com/laureanochava14"><img src="../../../assets/twitter.png" id="twitter"></a>
    <a href="https://www.instagram.com/laureanochava/"><img src="../../../assets/instagram.png" id="instagram"></a>
    <a href="https://www.facebook.com/CHAVA2016"><img src="../../../assets/facebook.png" id="facebook"></a>

</div>
